{
    "consumerKey": "your Twitter API Key",
    "consumerSecret": "your Twitter API Secret",
    "accessToken": "your Twiteer Access Token",
    "accessTokenSecret: "your Twitter Access Token Secret",
    "searchStrings": ["%22your+query%22", "%22your+next+query%22"],
    "slackWebhook": "your Slack webhook",
    "slackUserName": "a name to post to Slack as",
    "slackIconEmoji": ":optional Slack emoji:"
}