{
    "consumerKey": "your Twitter API Key",
    "consumerSecret": "your Twitter API Secret",
    "accessToken": "your Twiteer Access Token",
    "accessTokenSecret: "your Twitter Access Token Secret",
    "slackWebhook": "your Slack webhook"
}